<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <log4net>
        <root>
            <level value="ALL" />
            <!-- 程式內用來log大部份訊息的appender -->
            <appender-ref ref="InfoAppender" />            
        </root>
        
        <!-- 大部份的log訊息的appender -->
        <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="ERROR" />
            </filter>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <file value="logs\\rtd.txt" />
            <appendToFile value="true" />
            <rollingStyle value="date" />
            <staticLogFileName value="true" />
            <datePattern value="yyyy_MM_dd" />
            <maxSizeRollBackups value="100" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date{yyyy'-'MM'-'dd HH:mm:ss.fff} %-5level %logger %-6line - %m%n" />
            </layout>
        </appender>        
    </log4net>
  <connectionStrings>
    <!--<add name="RtdBaseContext" connectionString="metadata=res://*/Db.DbObject.RtdBaseModel.csdl|res://*/Db.DbObject.RtdBaseModel.ssdl|res://*/Db.DbObject.RtdBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Db\RtdBase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--<add name="RtdBaseContext" connectionString="metadata=res://*/Db.DbObject.RtdBaseModel.csdl|res://*/Db.DbObject.RtdBaseModel.ssdl|res://*/Db.DbObject.RtdBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\RtdBase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <add name="RtdBaseContext" connectionString="metadata=res://*/Db.DbObject.RtdBaseModel.csdl|res://*/Db.DbObject.RtdBaseModel.ssdl|res://*/Db.DbObject.RtdBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\RtdBase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>